# Logs
logs/

# Environment variables
.env

# Dependencies
/node_modules

# Build output
/build
/dist

# Editor and IDE files
.vscode/
.idea/
*.iml

# Testing
/coverage

# Miscellaneous
.DS_Store
Thumbs.db
